@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
    --color-main-bg: #0d1829;
}
body {
    margin: 0;
    padding: 0;
    background-color: #0d1829 !important;
}
.main {
    background-color: #0d1829;
    width: auto;
    height: auto;
}
.nav {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0b121d;
}
.nav .nav-main {
    padding: 10px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.top {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.top .top-main {
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.middle {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.middle .middle-main {
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.bottom {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.bg-white-rounded {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 8px;
}
.img-cover {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.title {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.article {
    font-size: 20px;
    color: white;
}
.line-bar {
    width: 100%;
    height: auto;
}
.line-bar div {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1px;
    background-color: #6090dd;
}