/*
    START: Global
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100%;
    background: #ececec;
    padding: 50px 30px 50px 30px;
}
/*
    END: Global
*/

.title-name {
    font-weight: bold;
}

.c-salmon {
    color: salmon;
}
.c-slateblue {
    color: slateblue;
}
.d-inline {
    display: inline;
}
.fw-bold {
    font-weight: bold;
}
.fs-20px {
    font-size: 20px;
}